body{
    background-color: red;
    color: black;
}
h1{
    padding-left: 600px;
}

h2{
    padding-left: 550px;
}

input{
    width: 12.5%;
    height: 80px;
    margin-left: 15%;
}

button{
    width: 12.5%;
    height: 80px;
    margin-top: 50px;
    margin-left: 43%;
}